extends layout.pug

block head
  link(rel="stylesheet", href="/css/about.css")

block content
  .about-container
    section.about-section
      h2.section-title About Us
      p.section-subtitle GearNexus is a tech and computer accessory orientated shop.<br> We focus on quality and strive for costomer satisfaction.

    section.about-section
      h2.section-title Our Mission
      p.section-subtitle Free shipping. High standards.

    h2.team-title Our Team
    .team-profiles
      .profile-box Jerome Dela Cruz: <br><br>(insert description here)
      .profile-box Gavin Ha: <br><br>(insert description here)
      .profile-box Sparsh Nayak: <br><br> Third year at San Francisco State University(SFSU). 