extends layout.pug

block head


block content
  .about-container
    section.about-section
      h2.section-title About Us
      p.section-subtitle Something about our products

    section.about-section
      h2.section-title Our Mission
      p.section-subtitle Something about our mission

    h2.team-title Our Team
    .team-profiles
      .profile-box Profile 1
      .profile-box Profile 2
      .profile-box Profile 3