extends layout

block head
  title GearNexus | Shopping Cart
  link(rel="stylesheet", href="css/cart.css")

block content
  .cart-page-container
    h1.cart-title Shopping Cart
    
    .cart-content#cart-content
    
    .cart-summary#cart-summary


append scripts
  script(src="js/cart.js")