extends layout

block head
  link(rel="stylesheet", href="css/favorites.css")

block content
  .favorites-page-container     
    h2 Favorites
    .favorite-product-container#favorited-product



append scripts
    script(src="js/favorites.js")
