extends layout

block head
  link(rel="stylesheet", href="css/favorites.css")

block content
  .favorites-page-container     
    h2 Favorites
    
    //- This div will be shown when there are no favorites
    .favorites-page-content#empty-favorites-container

    
    //- This container will hold favorite products when there are any
    .favorite-product-container#favorited-product

append scripts
  script(src="js/favorites.js")