extends layout

block head
  title GearNexus
  link(rel="stylesheet", href="css/index.css")


block hero
  img.hero-banner(src="https://images.unsplash.com/photo-1649369180117-3d62e1805acd?q=80&w=2143&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="Keyboard Hero Image")


block content
  section.featured-section
    h2.section-title Featured Products
    #featured-products
      // Featured products will be populated by JavaScript
    a.show-all(href="/store.html") View All

append scripts
  script(src="js/index.js")