doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title} - GearNexus
    link(rel="icon", type="image/x-icon", href="assets/logos/site-logo.svg")
    link(rel="stylesheet", href="css/base-style.css")
    block head
  
  body
    header
      nav
        .logo-container
          a.logo(href="index.html")
            img.site-logo(src="assets/logos/site-logo.svg", alt="GearNexus logo")
          span.site-name-span Gear
            span.site-letter-n N
            span exus
        .menu-btn
          .hamburger
        ul.nav-menu
          li 
            button.search-icon-btn(type="button")
              img(src="assets/logos/navbar-search-icon.svg", alt="Search")
              span.navbar-item-label Search
          li
            a.shop-btn(href="store.html")
              img(src="assets/logos/navbar-shop-icon.svg", alt="Store")
              span.navbar-item-label Store
          li
            a.favorite-btn(href="favorites.html")
              img(src="assets/logos/navbar-favorite-icon.svg", alt="Favorites")
              span.navbar-item-label Favorites
          li
            a.cart-btn(href="cart.html")
              img(src="assets/logos/navbar-cart-icon.svg", alt="Bag/Cart")
              span.navbar-item-label Cart
          li
            if user
              a.profile-btn(href="/profile")
                img(src="assets/logos/navbar-account-icon.svg", alt="Account")
                span.navbar-item-label Account
            else
              a.profile-btn(href="/login.html")
                img(src="assets/logos/navbar-account-icon.svg", alt="Account")
                span.navbar-item-label Account
      block hero
    
    main
      block content
    
    footer.site-footer
      .footer-widgets
        .footer-column
          h3 Follow Us
          .social-icons
            a(href="https://github.com/GalvinHa/Team-Project-2" target="_blank")
              img(src="assets/logos/footer-github-logo.svg", alt="GitHub")
            a(href="#")
              img(src="assets/logos/footer-x-logo.svg", alt="Twitter")
            a(href="#")
              img(src="assets/logos/footer-instagram-logo.svg", alt="Instagram")
            a(href="#")
              img(src="assets/logos/footer-linkedin-logo.svg", alt="LinkedIn")
        .footer-column
          h3 Quick Links
          ul
            li
              a(href="store.html") Shop All
            li
              a(href="index.html") Front Page
            li
              a(href="about.html") About Us
        .footer-column
          h3 Support
          ul
            li
              a(href="faq.html") FAQ
            li
              a(href="terms.html") Terms of Service
            li
              a(href="shipping.html") Shipping Policy
        .footer-column.newsletter
          h3 Join our Email Listing!
          p To learn about new product sales
          form(action="#", method="post")
            input(type="email", placeholder="Enter your email", required)
            button(type="submit") →
          h3 Got Questions?
          p Email us at
          a#support-email(href="mailto:helpmewithstuffplsss@gmail.com") helpmewithstuffplsss@gmail.com
      .footer-bottom
        p © 2025, SFSU All rights reserved. Jerome, Galvin, Sparsh | Group 2

    script(src="js/base.js")
    block scripts
