extends layout

block head
  link(rel="stylesheet", href="css/store-page.css")

block content

  .product-page-container  
    h1 Product List
    #heading-container
      h3 Browsing: 
        span#browsing-category All
      h4 Filter by Type
    //- Mobile dropdown menu
    select.product-category-mobile
      option(value="All") All
      option(value="Mice") Mice
      option(value="Keyboards") Keyboards
      option(value="Headphones") Headsets
      option(value="Microphones") Microphones
        //- Desktop dropdown menu
    aside#filter-sidebar
      ul.product-category-desktop
        li
          label
            input(type="checkbox" name="product-type" value="All" checked)
            |  All
        li
          label
            input(type="checkbox" name="product-type" value="Mice")
            |  Mice
        li
          label
            input(type="checkbox" name="product-type" value="Keyboards")
            |  Keyboards
        li
          label
            input(type="checkbox" name="product-type" value="Headphones")
            |  Headsets
        li
          label
            input(type="checkbox" name="product-type" value="Microphones")
            |  Microphones

    .product-list-container#productList


append scripts
  script(src="js/store.js")
